<br>
<%= image_tag('teclado_mouse_otros.jpg', widht: '300px', height: '300px') %>
<br>
<h2 class="text-primary">Listando todos los artículos</h2>
<br>

<table class="table table-bordered">
    <thead class="table-dark">
    <tr align="center">
      <th scope="col">N°</th>
      <th scope="col">Título</th>
      <th scope="col">Texto</th>
      <th colspan="3">Acción</th>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td align="center"><%= link_to 'Mostrar', article %></td>
        <td align="center"><%= link_to 'Editar', edit_article_path(article) %></td>
        <td align="center"><%= link_to 'Eliminar', article_path(article),
              method: :delete,
              data: { confirm: '¿Está seguro?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Crea un nuevo artículo', new_article_path, class: 'btn btn-primary' %>