<h3 class="text-center">Artículos Publicados</h3>
<% @articles.each_slice(3).to_a.each do |article_group| %>
  <div class="row">
    <% article_group.each do |article| %>
      <div class="col-4">
        <div class="card">
            <% if article.photo.attached? %>
              <%= cl_image_tag(url_for(article.photo), width: 300, height: 300) %>
            <% end %>
          <div class="card-body">
            <h5 class="card-title"><u><%= article.title %></u></h5>
            <p class="card-text"><em><%= article.text %></em></p>
            <%= link_to 'Detalle', article, class: 'btn btn-outline-primary' %>
            <%= link_to 'Editar', edit_article_path(article), class: 'btn btn-outline-primary' %>
            <%= link_to 'Eliminar', article_path(article), method: :delete, data: {confirm: '¿Estás seguro?'}, class: 'btn btn-outline-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>