<%= image_tag('escribir_articulo.jpg', widht: '300px', height: '300px') %>  
<br>
<h2><u>Detalle del artículo</u></h2> 

<p>
  <strong>Título:</strong>
  <em><%= @article.title %></em>
</p>
 
<p>
  <strong>Texto:</strong>
  <em><%= @article.text %></em>
</p>

<br>
<h3><u>Comentarios</u></h3>
<em><%= render @article.comments %></em>

<br>
<h2><u>Agregar un comentario:</u></h2>
<%= render 'comments/form' %>

<%= link_to 'Editar', edit_article_path(@article), class: 'btn btn-link' %>
<%= link_to 'Regresar al listado de artículos', articles_path, class: 'btn btn-link' %>

