<h2>
    Detalle del artículo
</h2> 

<p class="titulo">
  <strong id="resaltado">Título:</strong>
  <%= @article.title %>
</p>
 
<p class="titulo">
  <strong id="resaltado">Texto:</strong>
  <%= @article.text %>
</p>

<h2>Ver Comentarios</h2>
<%= render @article.comments %>

<h2>Agregar un comentario:</h2>
<%= render 'comments/form' %>

<%= link_to 'Editar', edit_article_path(@article) %>
<%= link_to 'Regresar al listado de artículos', articles_path %>

